.container {
  max-width: var(--max-width);
  margin: 0 auto;
}
.bg__app {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(311.76deg, #d4e7fe -15.24%, #ffffff 78.85%);
  position: relative;
}
.header {
  height: var(--header-height);
  border-bottom: 1px solid #e3eefd;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
}
.header .container {
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 0 80px;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 0 7px;
}
.header__logo span {
  font-size: 2.5rem;
  font-weight: 700;
}
.header__menu {
  display: flex;
  gap: 0 30px;
}
.header__menu-link {
  color: var(--gray-color);
  font-size: 1.4rem;
  font-weight: 600;
}
.header__menu-link.active {
  color: var(--blue-color);
}
.header__right {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.header__search-input {
  display: block;
  height: 54px;
  box-sizing: border-box;
  line-height: 54px;
  width: 200px;
  font-size: 1.4rem;
  color: var(--gray-color);
  padding: 0 20px;
  border: none;
  border-bottom: 1px solid var(--border-color);
  background: none;
}
.header__main {
  position: absolute;
  top: 50%;
  width: 100%;
  /* min-height: calc(100vh - var(--header-height)); */
}
